@import '../../style/pallete';
@import '../../style/variables';

#add_article {
  	text-align: center;
	margin-bottom: 60px;

  	.form-group {
	  	margin: 10px auto;
	  	width: 60%;

	  	input[type=submit] {
		  	float: right;
		}
	}
}
