@import "../../style/pallete";

#register_form {
  margin: 30vh auto;
  text-align: center;

  .form-group {
	min-height: 30px;
  }

  input[type=button] {
	float: right;
	margin-right: 15px;
  }

  label {
	bottom: -6px;
	text-align: left;
  }
}
