@import '../../style/pallete';
@import '../../style/variables';

.article {
	text-align: center;
	font-size: 1.3em;

  	h1 {
		margin: 0 auto;
		width: 60%;
		font-family: $fontTitle;
  	}

  	a {
		color: $link_color;

		&:hover {
		  text-decoration: none;
		  color: $hover_link_color;
		}
  	}

	.article-description {
		margin: 15px 0;
		font-style: italic;
	}

  	.article-full-text {
		text-align: justify;
		text-indent: 20px;
  	}

	.article-tags {
		font-style: italic;

		a {
			margin-right: 5px;
		}
	}
}
