@import "../../style/pallete.scss";

.row-auth {
  margin-top: 30vh;
  text-align: center;
}

#auth_form {

  margin: 0 auto;

  .form-group {
	min-height: 30px;
  }

  label {
	margin-top: 5px;
	text-align: left;
  }

  #login_button_div {
	position: relative;
	height: 30px;
	margin: 0 15px;

	span {
	  position: absolute;
	  left: 0;
	}

	.span-register {
	  top: -5px;
	}

	.span-restore {
	  top: 15px;
	}

	input[type=button] {
	  position: absolute;
	  right: 0;
	}
  }

  .auth-border {
	position: relative;
	display: block;
	width: 100%;
	margin: 15px 0;
	border: 1px solid white;
  }

  img {
	&:hover {
	  cursor: pointer;
	}
  }
}
